* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #5dade2;
}
